*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #fffcff;
    color: #c89f9c;
}

header{
    height: 50px;
    padding: 20px;
}

img{
    width: 25px;
    height: 25px;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

li{
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #c89f9c;
}

a:hover{
    border-bottom: 2px solid #c89f9c;
}

.conteudo-principal{
    
}

.Bel-Bella{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.apresentacao{
    
}