<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique Bel Bella Modas</title>
    <link rel="stylesheet" href="../../static/_css/index.css">
    <link rel="script" href="{{ url_for('static', filename='_script/script.js') }}">
<body>
    <header>
        <nav class="nav-bar">
            <a href=""><img class="header-icon" src="../../static/_imagens/Ícone Rose.png" alt="Imagem logo Bel bella"></a>
            <li><a href="">Home</a></li>
            <li><a href="">Produtos</a></li>
            <li><a href="">Sobre nós</a></li>
            <li><a href="">Fale conosco</a></li>
        </nav>
    </header>
    <main class="conteudo-principal">
        <div class="apresentacao">
            
        </div>
    </main>
</body>
</html>
